<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FDA Recalls Search</title>

    <!-- Bootstrap -->
    <link href="/static/css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="main">
          {% block body %}{% endblock %}
      </div>
    </div>
	{% if platform == 'iphone' or platform == 'ipad' or platform == 'ipod' %}
	<div class="modal fade" id="scan-app-modal" tabindex="-1" role="dialog" aria-labelledby="scan-app-modal" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="scan-app-modal-title">Need App</h4>
				</div>
				<div class="modal-body">
					In order to scan barcodes, you need to install {{ app_name }}. Click "Install App" to be redirected to the App Store to install {{ app_name }} or click "Cancel" to manually type in the barcode.
				</div>
				<div class="modal-footer">
          <div class="row">
            <div class="col-xs-6">
					    <a href="{{ app_url }}" type="button" class="btn btn-primary install-app">Install App</a>
            </div>
            <div class="col-xs-6">
              <a href="{{ root_url }}?scan=false" type="button" class="btn btn-default">Cancel</a>
            </div>
          </div>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="/static/js/min/modal-ck.js"></script>
	<script src="/static/js/min/site-ck.js"></script>
  </body>
</html>