{% extends "layout.html" %}
{% block body %}
<div class="content">
<hgroup>
	<h1><a href="/"><img src="/static/img/fda.png" alt="FDA"></a></h1>
	<h2>Product Recall Search</h2>
</hgroup>

{% if query_url %}
<div class="barcode-button">
	<a class="btn btn-default btn-lg" href="{{ query_url }}">Scan a Barcode</a>
</div>
{% else %}
<form role="form" method="GET" action="/search">
	<div class="form-group">
		<label for="upc">UPC Code</label>
		<input type="number" class="form-control" id="upc" name="upc" placeholder="Enter UPC Code">
	</div>
  <button type="submit" class="btn btn-lg btn-default">Submit</button>
</form>
{% endif %}
</div>
{% endblock %}
