{% extends "layout.html" %}
{% block body %}
<div class="content">
	<div class="alert alert-warning"><strong>Important!</strong> This is a beta application. Do not assume that these results are complete.</div>
</div>
{% if recalls %}
	{% for recall in recalls %}
		<article class="recall panel {% if recall.status =="Ongoing" %}panel-danger{% else %}panel-default{% endif %}" id="recall-{{recall.event_id }}">
				<header class="panel-heading">
					<h2 class="panel-title">{{ recall.product_name }}</h2>
					<span class="recall_meta">{{ recall.status }} - Recalled by {{ recall.recalling_firm }} on {{ recall.date }}</span>
				</header>
        <div class="panel-body">
  				<p class="reason_for_recall">{{ recall.reason_for_recall }} <em>({{ recall.product_description}})</em></p>
  				  <dt>Product Type</dt>
  				  <dd>{{ recall.product_type }}</dd>
				  
  				  <dt>Distribution Pattern</dt>
  				  <dd>{{ recall.distribution_pattern }}</dd>
				  
  				  <dt>Code Info</dt>
  				  <dd>{{ recall.code_info }}</dd>
  				</dl>
        </div>
		</article>
	{% endfor %}
{% else %}
<div class="content">
<div class="alert alert-info">No recalls could be found for this barcode. However, that does not mean a recall does not exist for this product. Always check <a class="alert-link" href="http://www.fda.gov">FDA.gov</a> for the latest information.</div>
</div>
{% endif %}
<a class="btn btn-default btn-lg" href="{% if query_url %}{{ query_url }}{% else %}/{% endif %}">Look for another product</a>
{% endblock %}
